.content_page_container {
  display: flex;
  flex-direction: row;
}

.left_hand_side {
  position: sticky;
  top: 70px;
  align-self: flex-start;  
}

.scrollable-content {
  width: 1000px !important;
  height: 1000px;
  margin: 0 14px;
}

.right_hand_side {
  width: 700px;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  background: var(--bg-color);
  border-radius: 4px;
  color: #626262;
}

