<div *ngIf="!registerMode" class="container container_login rounded shadow-lg">
  <div *ngIf="!registerMode" style="text-align: center">
    <img
      class="brand_name"
      src="../assets/brand_name_background_removing.png"
      alt="brand_name"
      routerLink="/"
      routerLinkActive="active"
    />

    <h1 class="home_title">Find your friend</h1>
    <p class="lead">
      Come on into view your friend... all you need to do is sign up!
    </p>
    <div class="text-center">
      <button (click)="registerToggle()" class="button btn me-2">
        Register
      </button>
      <button class="button btn">Learn more</button>
    </div>

    <p class="lead">Or you already have an account? Login right now</p>
  </div>

  <form
    *ngIf="!registerMode"
    class="form_login d-flex flex-column align-items-center"
    (ngSubmit)="login()"
    autocomplete="off"
  >
    <input
      name="username"
      [(ngModel)]="model.username"
      class="form-control me-2 d-block"
      type="text"
      placeholder="username"
    />
    <input
      name="password"
      [(ngModel)]="model.password"
      class="form-control me-2 d-block"
      type="password"
      placeholder="password"
    />
    <button class="btn btn-success button" type="submit">Login</button>
  </form>
</div>

<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
</div>
