<nav
  class="navbar navbar-expand-md navbar-dark fixed-top d-flex justify-content-between"
>
  <div class="container_left d-flex justify-content-center align-items-center">
    <img
      class="brand_name"
      src="./assets/brand_name_background_removing.png"
      alt="brand_name"
      routerLink="/"
      routerLinkActive="active"
    />

    <form>
      <div class="md-form active-pink active-pink-2">
        <input
          class="form-control"
          type="search"
          id="search1"
          aria-label="Search"
          mdbInput
        />
        <!-- <label for="search1">Search</label> -->
      </div>
    </form>
  </div>

  <div class="container_middle">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">

      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item d-flex justify-content-center">
          <a
            class="nav-link"
            routerLink="/members"
          
            routerLinkActive="active"
            ><i class="fa-solid fa-house"></i
          ></a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link" routerLink="/videos" routerLinkActive="active"
            ><i class="fa-solid fa-video"></i
          ></a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link" routerLink="/shop-category" routerLinkActive="active"
            ><i class="fa-solid fa-shop"></i
          ></a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link" routerLink="/community" routerLinkActive="active"
            ><i class="fa-solid fa-people-group"></i
          ></a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link" routerLink="/games" routerLinkActive="active"
            ><i class="fa-solid fa-gamepad"></i
          ></a>
        </li>
      </ng-container>

      <!-- <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/members"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
        <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Admin</a
          >
        </li>
      </ng-container>  -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active"
          ><i class="fa-solid fa-exclamation"></i
        ></a>
      </li>
    </ul>

    <!-- <form
      *ngIf="!(accountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success" type="submit">Login</button>
    </form> -->
  </div>

  <div class="container_right d-flex align-items-center">
    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <img class="rounded-circle" src="{{ user.photoUrl || './assets/user.png' }}" alt="user photo" />
      <a
        class="dropdown-toggle text-light text-decoration-none ms-2"
        dropdownToggle
        >{{ user.knownAs }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <div class="button_collection d-flex align-items-center">
      <a [routerLink]="'/members'"><i class="fa-solid fa-plus"></i></a>
      <a [routerLink]="'/members'"><i class="fa-solid fa-message"></i></a>
      <a [routerLink]="'/members'"><i class="fa-solid fa-bell"></i></a>
      <a [routerLink]="'/members'"><i class="fa-solid fa-caret-down"></i></a>
    </div>
  </div>
</nav>
